* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

aside {
    min-height: 100vh;
    width: 30vw;
    background: url(./pexels-kamil-zubrzycki-1245066.jpg);
    background-size: cover;

    display: flex;
    align-items: flex-end;
}

aside p {
    font-size: 0.8rem;
}

body {
    display: flex;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    gap: 1vw;
}

h2 {
    margin-left: 1vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.4vh;
}

.inner-form {
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 20px;
    background-color: black;
    width: 70vw;
    padding: 20px 0 20px 1vw;
}

.couple {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.label-input-couple {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: min(100%, 300px);
}


button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: green;
    border: none;
    border-radius: 7px;
    margin-left: 30px;
    width: 180px;
    height: 45px;
    cursor: pointer;
}

input {
    height: 30px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 3px;
    color: red;
}

label {
    font-size: 0.9rem;
    font-family: fantasy, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input:focus {
    outline: none;
    box-shadow: 0 0 1pt 2pt yellow;
}

input:focus:valid {
    box-shadow: 0 0 1pt 2pt green;
}

input:focus:invalid {
    box-shadow: 0 0 1pt 2pt red;
}

input::placeholder {
    color: #4d4d4d;
}

.error {
    box-shadow: 0 0 1pt 2pt red;
}

.login {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.loginp {
    margin-left: 1vw;
}

.invalid {
    box-shadow: 0 0 1pt 2pt red !important;
}