*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

aside{
    height: 100vh;
    width: 30vw;
    background-color: black;
}

body{
    display: flex;
    gap: 20vw;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
}

.inner-form{
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 10px;
}


.inner-couple{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.couple{
    display: flex;
    gap:30px;

}

button{
    margin-top:20px;
}
