*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
}

.inner-form{
    display: flex;
    flex-direction: column;
    height: max-content;
}


.inner-couple{
    display: flex;
    flex-direction: column;
}

.couple{
    display: flex;
    gap: 0 30px;
}